@charset "UTF-8";

html {
  font-family: sans-serif;
  size: 100%;
  background-color: aquamarine;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0%; /* マージンを追記 */
}
body {
  padding-top: 90px; /* ヘッダーの後ろに要素が隠れないようにするため */
  /*padding-left: 30px;
  padding-right: 30px;*/
  margin: 0px;
  /*padding: 50px 10px 50px 10px; /* bodyの内側余白を指定する(上:右:下:左) */
}
h1,h2,h3,h4,h5,h6{
  margin: 50;
  padding: 50;
  text-align: left;
}
li,ol{
  list-style: none;
}
p {
  margin: 10px;
  padding: 10px;
  text-align: left;
}
.header {
  width: 100%; /* 幅いっぱいを指定 */
  height: 80px; /* 高さを80pxに指定 */
  background-color:rgba(255, 255, 255, 0.8); /* 背景色を指定 */
  color: #000000;
  padding: 10px 50px; /* ヘッダーに上下左右それぞれ余白を指定 */
  box-sizing: border-box; /* padding分を含んで幅を100%にするため */
  position: fixed; /* ウィンドウを基準に画面に固定 */
  top: 0; /* 上下の固定位置を上から0pxにする */
  left: 0; /* 左右の固定位置を左から0pxにする */
  display: flex; /* 中の要素を横並びにする */
  align-items: center; /* 中の要素を上下中央に並べる */
  z-index:10; /* 一番上にヘッダーが来る */
  text-align: center;
}
header .gnav .menu {
  display: flex; /* 中の要素を横並びにする */
}

header .gnav .menu li + li {
  margin-left: 60px; /* メニューそれぞれに間隔をあけるため */
}
.footer{
  width: auto;
  height: auto;
  background-color: #ffffff;
  text-align: center;
  padding: 0%; /* マージンで横にはみ出した部分を戻す */
  bottom: 0; /*下に固定*/
  left: 0; /* 左右の固定位置を左から0pxにする */
  text-align: left;
  position: relative;
  display: block;
  margin: 0%; /* マージンを追記 */
  color: #000000;
}
footer .inner{
  position: relative;
  margin: 0%;
  color: #000000;
  padding: 30px auto;
}
footer .address {
  font-size: 80%;
  color: #333;
  text-align: left;
  padding: 0%;

}
ul {
  overflow:hidden;
  list-style:none;
  margin: 0 auto;
  z-index: 20;
}
ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
}
.btn4{ /* class="btn4"で指定した時のデザイン */
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  color: #000000; /* 文字の色指定 */
}
 
.btn4::before { /* class="btn4"かつ::beforeで指定した時のデザイン */
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #ffffff;
  color: #00ff00; /* 文字の色指定 */
  display: block;
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
 
.btn2{ /* class="btn2"で指定した時のデザイン */
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  border-bottom: 2px solid #000000;
  color: #ff0000; /* 文字の色指定 */
}

.newsList {
  width: 1000px;
  margin: 0 auto 28px;
}
.newsList li {
  border-top: 1px solid #e5e5e5;
}
.newsList li .article {
  display: table;
  width: 100%;
}
.newsList li .article .cell {
  display: table-cell;
  vertical-align: middle;
  padding: 18px 0;
}

.newsList li .article .cell .catLabel {
  display: inline-block;
  font-size: 12px;
  padding: 4px 0;
  width: 100%;
  box-sizing: border-box;
}
.newsList li .article .cell .date {
  font-size: 80%;
  padding: 5px 5px;
  width: 10px;
  color: #000fff;
}
.newsList li a {
  color: #333;
}
.newsList li:first-child {
  border-top: none;
}
footer .copyright {
  font-size: 70%;
  text-align: center;
}
